[Unit]
Description=Mount_SDA1
Before=pm2-root.service

[Service]
Type=oneshot
RemainAfterExit=yes
User=root
ExecStart=/usr/bin/sudo /usr/bin/sh /home/pi/config/raspi/services/mountsda/start.sh
ExecStop=/usr/bin/sudo /usr/bin/sh /home/pi/config/raspi/services/mountsda/stop.sh

[Install]
WantedBy=multi-user.target

